<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ url_for('index') }}">Accueil</a>
            <a href="{{ url_for('list_people') }}">Gérer les Personnes</a>
            <a href="{{ url_for('list_scores') }}">Gérer les Scores</a>
            <a href="{{ url_for('morpion') }}">Jeu de Morpion</a>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
